$class div.gmap_map img {
	max-width: none !important;
}

$class div.gmap_map div {
	max-width: none !important;
}

$class_mobile div.gmap_smap img {
	max-width: 100% !important;
	height: auto !important;
}

$class div.gmap_tag_info {
	border: gray solid 1px;
}

$class span.gmap_handle {
	font-size: 80%;
	font-weight: bold;
	border: solid 1px;
	padding: 1px;
	cursor: pointer;
	font-family: monospace
}

$class div.gmap_optional {
	margin: 5px 0px 5px 10px;
	padding: 5px;
	color: #696969;
	border: #E8E8E8 solid 1px;
}
$class div.gmap_optional input,
$class div.gmap_optional select {
	color: #696969;
}

div.gs-result {
	font-size: 9pt !important;
	position: absolute;
	top: -10px;
	left: -5px;
	width: 100%;
	height: 135%;
	overflow: auto;
}

div.gs-country {
	display: none;
}

table.gmls-results-controls {
	width: 100% !important;
}
