/**
 * PukiWiki Plugin Code highlight
 *
 */

/* オペレータ */
div.xpwiki_$dir span.code_operator {color: blue;}
/* 識別子 */
div.xpwiki_$dir span.code_identifier {color: darkblue;}

/* 制御構文 */
div.xpwiki_$dir span.code_control  {color: navy;}
/* 標準関数 */
div.xpwiki_$dir span.code_function {color: blue;}
/* 定数 */
div.xpwiki_$dir span.code_constant {color: teal;}

/* module, import, 将来対応する pragma */
div.xpwiki_$dir span.code_pragma {color: #008080;}
/* __stdcall などの処理系専用の奴とか */
div.xpwiki_$dir span.code_system {color: #5f0000;}
/* 環境変数  */
div.xpwiki_$dir span.code_environment {color: #777777;}
/* 文字列 */
div.xpwiki_$dir span.code_string {color: green;}
/* コメント */
div.xpwiki_$dir span.code_comment {color: darkorange;}

/* 個々のハイライト専用 */
/* for TeX */
div.xpwiki_$dir span.code_formula {color: teal;}
/* for diff*/
div.xpwiki_$dir span.code_changed {color: green;}
div.xpwiki_$dir span.code_added   {color: blue;}
div.xpwiki_$dir span.code_removed {color: red;}
/* for make*/
div.xpwiki_$dir span.code_execute {color: teal;}
div.xpwiki_$dir span.code_target  {color: darkblue;}
div.xpwiki_$dir span.code_src     {color: darkgreen;}
/* for PukiWiki */
div.xpwiki_$dir span.code_header{color: blue;}
div.xpwiki_$dir span.code_table {color: darkgreen;}
div.xpwiki_$dir span.code_list  {color: navy;}
div.xpwiki_$dir span.code_pre   {color: teal;}
div.xpwiki_$dir span.code_quote {color: #777700;}

/* ソースコード表示部分の設定 */
/* 段組をしない場合の設定 */
div.xpwiki_$dir pre.code {
    background: #EEFFFF;
    margin: 1em 2em 0.5em 1em;
    padding: 0.5em;
    border-top:    #DDDDEE 1px solid;
    border-right:  #888899 1px solid;
    border-bottom: #888899 1px solid;
    border-left:   #DDDDEE 1px solid;
	white-space: pre;
	overflow: visible;
    line-height: 120%;
}
/* 段組をした場合の設定 */
div.xpwiki_$dir table.code_table pre.code,
div.xpwiki_$dir div.code_table pre.code,
div.xpwiki_$dir table.code_table pre.pre_body,
div.xpwiki_$dir div.code_src pre.pre_body
{
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
    border: none;
    line-height: 120%;
    width: 100%;
}

/* 行番号表示 */
div.xpwiki_$dir table.code_table pre.code_number,
div.xpwiki_$dir table.code_table pre.pre_number
{
    background: #F0F8FF;
    margin: 0;
    padding: 0;
    padding-right: 0.5ex;
    border: none;
    /*border-right: 1px solid #CCDDDD;*/
    line-height: 120%;
    /*min-width: 3.5ex;*/
}

/* アウトライン表示 */
div.xpwiki_$dir table.code_table pre.code_outline {
    margin:  0;
    padding: 0;
    border: none;
    /*border-right: 1px solid #F5FFFF;*/
    width: 10px;
    text-align: center;
    background: #E0F5F5;
    line-height: 120%;
}

/* 枠組 */
div.xpwiki_$dir div.code_table,
div.xpwiki_$dir div.pre_table
{
    color: black;
    background-color: #F8F8FF;
    border-top:    #DDDDEE 1px solid;
    border-right:  #888899 1px solid;
    border-bottom: #888899 1px solid;
    border-left:   #DDDDEE 1px solid;
    margin: 0px;
    white-space: pre;
    width: auto;
}
div.xpwiki_$dir table.code_table,
div.xpwiki_$dir table.code_table td {
    background-color: #F8F8F8;

}

/* 段組要素の設定無効化 */
div.xpwiki_$dir table.code_table,
div.xpwiki_$dir table.code_table td,
div.xpwiki_$dir div.code_number pre,
div.xpwiki_$dir div.code_outline pre,
div.xpwiki_$dir div.code_src pre,
div.xpwiki_$dir div.pre_number pre,
div.xpwiki_$dir div.pre_body pre
{
    margin:  0;
    padding: 0;
    border: none;
}

/* tableによる段組 */
td.code_src,
td.pre_body 
{width:100%;}

/* divによる分割の定義  */
div.xpwiki_$dir div.code_number,
div.xpwiki_$dir div.code_outline,
div.xpwiki_$dir div.code_src,
div.xpwiki_$dir div.pre_number,
div.xpwiki_$dir div.pre_body
{
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    float: left;
}

/**
 * アウトライン・メニューの設定
 */

/* icon */ 
div.xpwiki_$dir div.code_menu {
    background-color: #d4d0c8;
}

/* アウトラインが閉じた時のイメージ */
img.code_dotimage {width:20px;height:8px;margin:0;padding:0;}

/* アウトラインの設定 */
div.xpwiki_$dir a.code_outline{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
div.xpwiki_$dir a.code_outline:link
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
div.xpwiki_$dir a.code_outline:visited
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
div.xpwiki_$dir a.code_outline:hover
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
div.xpwiki_$dir a.code_outline:active
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
