@charset "$charset";

$class a:link {
	text-decoration: underline;
}

$class a:visited {
	text-decoration: underline;
}

/* pukiwiki.skin.php */
$class div.navigator {
	display:none;
}

$class td.menubar {
	display:none;
}

$class div.menubar {
	display:none;
}

$class div.attach {
	display:none;
}

$class div.toolbar {
	display:none;
}

$class div.related {
	display:none;
}

$class img.logo {
	display:none;
}
