div.xpwiki_$dir .htmltagcloud{
  font-size: 12px;
}
div.xpwiki_$dir .menubar .htmltagcloud{ 
  font-size: 6px;
}

div.xpwiki_$dir .menubar .htmltagcloud span{
  display: block;
}

div.xpwiki_$dir .tagcloud0  { font-size: 100%;} 
div.xpwiki_$dir .tagcloud1  { font-size: 110%;} 
div.xpwiki_$dir .tagcloud2  { font-size: 120%;} 
div.xpwiki_$dir .tagcloud3  { font-size: 130%;} 
div.xpwiki_$dir .tagcloud4  { font-size: 140%;} 
div.xpwiki_$dir .tagcloud5  { font-size: 150%;} 
div.xpwiki_$dir .tagcloud6  { font-size: 160%;} 
div.xpwiki_$dir .tagcloud7  { font-size: 170%;} 
div.xpwiki_$dir .tagcloud8  { font-size: 180%;} 
div.xpwiki_$dir .tagcloud9  { font-size: 190%;} 
div.xpwiki_$dir .tagcloud10 { font-size: 200%;} 
div.xpwiki_$dir .tagcloud11 { font-size: 210%;} 
div.xpwiki_$dir .tagcloud12 { font-size: 220%;} 
div.xpwiki_$dir .tagcloud13 { font-size: 230%;} 
div.xpwiki_$dir .tagcloud14 { font-size: 240%;} 
div.xpwiki_$dir .tagcloud15 { font-size: 250%;} 
div.xpwiki_$dir .tagcloud16 { font-size: 260%;} 
div.xpwiki_$dir .tagcloud17 { font-size: 270%;} 
div.xpwiki_$dir .tagcloud18 { font-size: 280%;} 
div.xpwiki_$dir .tagcloud19 { font-size: 290%;} 
div.xpwiki_$dir .tagcloud20 { font-size: 300%;} 
div.xpwiki_$dir .tagcloud21 { font-size: 310%;} 
div.xpwiki_$dir .tagcloud22 { font-size: 320%;} 
div.xpwiki_$dir .tagcloud23 { font-size: 330%;} 
div.xpwiki_$dir .tagcloud24 { font-size: 340%;} 
