#wikihelper_base {
	padding: 2px;
	padding-right: 6px;
	border: 1px solid gray;
	margin-right: 10px;
	vertical-align: middle;
	background-color: white;
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;
	z-index: 1000;
	cursor: move;
}

#wikihelper_base img {
	cursor: pointer;
	margin: 1px;
}

#wikihelper_base a {
	font-weight: normal;
}